<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>


	<header th:fragment="header">

        <!-- Left side -->
        <div>
			<a th:href="@{/}">Home</a>  |
			<a th:href="@{/users/}">Users</a> |
			<a th:href="@{/roles/}">Roles</a> | 
			<a th:href="@{/scoreboard/}">Simple Websocket</a> | 
			<a th:href="@{/public-chat}">Chat</a> 
        </div>

        <!-- Right side of the navbar -->
        <div sec:authorize="isAuthenticated()">
        	<a th:href="@{/profile}">Profile</a> | 
        	<a href="/logout">Logout</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
        	<a th:href="@{/register}">Register</a> 
        </div> 



	</header>

</body>
</html>