<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>Chat WebSocket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script> 
<script type="text/javascript" th:src="@{/js/chat.js}"></script>
</head>
<body>
	<section layout:fragment="content">


	    <div id="chat">
	        <h2>Broadcast Messages</h2>
	        <div id="broadcast-messages"></div> <!-- For public broadcast messages -->
	        
	        <h2>Private Messages</h2>
	        <div id="private-messages"></div> <!-- For private messages -->
	        
	        <input type="text" id="from" placeholder="Your name" />
	        <input type="text" id="to" placeholder="Recipient (leave empty for broadcast)" />
	        <input type="text" id="text" placeholder="Type a message" />
	        <button onclick="sendMessage()">Send</button>
	    </div>
	


	</section>
</body>
</html>