<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Chat WebSocket</title> 
    <!-- WebSocket related dependencies -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script> 
    <!-- private chat --> 
	<link rel="stylesheet" th:href="@{/css/private-chat.css}" />	  
	<script type="text/javascript" th:src="@{/js/private-chat.js}"></script>
</head>

<body>
	<section layout:fragment="content">


		<h2>Private Chat | WebSocket Chat Application</h2>
  
  
	    <div id="conversation" style="background-color: white; height: 300px; padding:10px; overflow-y: auto;">
	        <!-- Messages will be appended here -->
	        <p th:each="message : ${messages}">
	            <span th:text="${message.sender.firstName} + ': ' + ${message.messageContent}"></span>
	        </p>
	    </div>
		    
		    
	    <form>
        	<!-- Hidden fields to store receiver information --> 
        	<input type="hidden" id="receiverId" th:value="${receiver.id}" /> 
	        <input type="text" id="messageContent" placeholder="Type your message">
	        <button type="button" onclick="sendPrivateMessage()">Send</button>
	    </form>





	</section>
</body>

</html>