<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Change Password Page</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Change Password</h1>

        <!-- Update Password Form -->
        <form action="/users/update-password" method="POST">

            <!-- Password Input -->
            <div>
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your new password" required />
            </div>

            <!-- Submit Button -->
            <div>
                <input name="submit" type="submit" value="Change Password" />
            </div>
        </form>
    </section>
</body>
</html>
