main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 10px;
	padding: 20px;
}

header {
	display: flex; 
	justify-content: space-between;
    background-color: #f0f0f0;
	margin: 10px;
	padding: 20px; 
}

footer { 
	text-align: center; /* Center content horizontally */
    background-color: #f0f0f0;
	margin: 10px;
	padding: 10px; 
}

