<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout.html}">
<head>
<title>Update Role</title>
</head>
<body>

<section layout:fragment="content">

    <h1>Update Role</h1>

<form action="#" th:action="@{/roles/update}" th:object="${role}" method="post">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{id}" />

    <label>Name: </label>
    <input type="text" th:field="*{name}" placeholder="Enter The role name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <input type="submit" value="Save">  
</form>

<br/>
<a href="/roles/list">Back to list</a>

</section>


</body>
</html>
